* {
  font-family: 'Open Sans', sans-serif;
}
.basketScore {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 30px;
}

.team {
  display: flex;
  flex-flow: column wrap;
  padding: 15px;
  text-align: center;
}

.team__points {
  font-size: 4rem;
}

.team__controls button {
  border: 0;
  border-radius: 50%;
  height: 100px;
  margin: 10px;
  width: 100px;
}